<div class="p-4">
	<h2>Custom Pipe</h2>

	<div class="form-group">
		<select class="custom-select" [(ngModel)]="order">
    <option value="title">Id</option>
    <option value="value">Name</option>
    <option value="digit">Age</option>
  </select>
	</div>
	<div class="form-group">
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" [(ngModel)]="reverse" id="reverse" />
			<label class="custom-control-label" for="reverse">reverse?</label>
		</div>
	</div>

	<h4><u>Object Items</u></h4>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Age</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let item of items | orderBy : order : reverse">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.age}}</td>
			</tr>
		</tbody>
	</table>

</div>

<!-- <router-outlet></router-outlet> -->